@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

.mainblock {
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid #BABBC5;
  padding: 38px 0 36px;
}
@media only screen and (max-width: 767px) {
  .header {
    padding: 19px 0;
    border-bottom: none;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__toggle {
  display: none;
}
@media only screen and (max-width: 767px) {
  .header__toggle {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__items {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  list-style-type: none;
}
@media only screen and (max-width: 1024px) {
  .nav__items {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
.nav__link-neon {
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.5s ease-out;
}
.nav__link-neon:hover {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-shadow: 0 0 7px #613edf, 0 0 10px #613edf, 0 0 21px #613edf, 0 0 42px #613edf, 0 0 82px #613edf;
}

.banner {
  padding: 230px 0 120px;
  text-align: center;
  background-image: url(../media/img_desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .banner {
    padding: 257px 0 126px;
    background-image: url(../media/img_tablet.jpg);
  }
}
@media only screen and (max-width: 767px) {
  .banner {
    padding: 106px 0 52px;
    background-image: url(../media/img_mobile.jpg);
  }
}
.banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #252B49;
  opacity: 0.8;
  position: absolute;
}
.banner__container {
  position: relative;
}
.banner__title {
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 31px;
}
@media only screen and (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 900;
    margin-bottom: 62px;
  }
}
@media only screen and (max-width: 767px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
    margin-bottom: 41px;
  }
}
.banner__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 80px;
}
@media only screen and (max-width: 1024px) {
  .banner__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 89px;
  }
}
@media only screen and (max-width: 767px) {
  .banner__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 59px;
  }
}

.btn__glow-on-hover {
  outline: none;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  padding: 26px;
  min-width: 370px;
  border: none;
  background: #FF4343;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50px;
}
.btn__glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px;
}
.btn__glow-on-hover:active {
  color: #000;
}
.btn__glow-on-hover:active:after {
  background: transparent;
}
.btn__glow-on-hover:hover:before {
  opacity: 1;
}
.btn__glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@media only screen and (max-width: 1024px) {
  .btn__glow-on-hover {
    min-width: 314px;
  }
}
@media only screen and (max-width: 1024px) {
  .btn__glow-on-hover_download {
    min-width: 565px;
  }
}
@media only screen and (max-width: 767px) {
  .btn__glow-on-hover {
    min-width: 280px;
  }
}

.advantage {
  padding: 100px 0;
}
@media only screen and (max-width: 1024px) {
  .advantage {
    padding: 80px 0;
  }
}
@media only screen and (max-width: 767px) {
  .advantage {
    padding: 60px 0;
  }
}
.advantage__container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 88px;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .advantage__container {
    grid-column-gap: 20px;
    grid-row-gap: 49px;
  }
}
@media only screen and (max-width: 767px) {
  .advantage__container {
    grid-template-columns: 1fr;
    grid-row-gap: 41px;
  }
}
.advantage__logo {
  width: 100px;
  height: 100px;
  margin: 0 auto 51px;
}
@media only screen and (max-width: 1024px) {
  .advantage__logo {
    width: 85px;
    height: 85px;
    margin: 0 auto 44px;
  }
}
@media only screen and (max-width: 767px) {
  .advantage__logo {
    width: 75px;
    height: 75px;
    margin: 0 auto 37px;
  }
}
.advantage__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: #2D3033;
  text-transform: uppercase;
  margin-bottom: 42px;
}
@media only screen and (max-width: 1024px) {
  .advantage__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .advantage__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    margin-bottom: 9px;
  }
}
.advantage__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #6C7279;
}
@media only screen and (max-width: 1024px) {
  .advantage__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 767px) {
  .advantage__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 767px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project {
  border: #ffffff solid 2px;
  overflow: hidden;
  position: relative;
}
.project__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project__content {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 67, 67, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: all 0.5s linear;
}
.project__content:hover {
  opacity: 1;
}
.project__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 36px;
}
@media only screen and (max-width: 1024px) {
  .project__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    margin-bottom: 22px;
  }
}
@media only screen and (max-width: 767px) {
  .project__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    margin-bottom: 7px;
  }
}
.project__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-transform: capitalize;
}
@media only screen and (max-width: 1024px) {
  .project__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 767px) {
  .project__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}

.workers {
  padding: 100px 0;
}
@media only screen and (max-width: 1024px) {
  .workers {
    padding: 80px 0;
  }
}
@media only screen and (max-width: 767px) {
  .workers {
    padding: 50px 0 56px;
  }
}
.workers__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media only screen and (max-width: 1024px) {
  .workers__container {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .workers__container {
    grid-template-columns: 1fr;
    row-gap: 56px;
  }
}

.worker__photo {
  width: 100%;
  aspect-ratio: 270/270;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1024px) {
  .worker__photo {
    aspect-ratio: 227/227;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .worker__photo {
    aspect-ratio: 280/227;
    margin-bottom: 25px;
  }
}
.worker__name {
  padding: 0 2px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #2D3033;
  text-transform: capitalize;
  margin-bottom: 6px;
}
@media only screen and (max-width: 1024px) {
  .worker__name {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
  }
}
.worker__post {
  padding: 0 2px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #FF4343;
  text-transform: uppercase;
  margin-bottom: 18px;
}
@media only screen and (max-width: 1024px) {
  .worker__post {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 767px) {
  .worker__post {
    margin-bottom: 38px;
  }
}
.worker__text {
  padding: 0 2px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #6C7279;
  margin-bottom: 38px;
}
@media only screen and (max-width: 1024px) {
  .worker__text {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 767px) {
  .worker__text {
    margin-bottom: 55px;
  }
}
.worker__social {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.worker__social-item {
  width: 39px;
  height: 39px;
  text-align: center;
  align-content: center;
  border: #C6CBCD solid 1px;
  transition: all 0.8s ease;
}
.worker__social-item:hover {
  transform: scale(1.2) rotate(15deg);
  border: #613edf dashed 1px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px #613edf;
}
.worker__social-item:hover path {
  fill: #613edf;
}
@media only screen and (max-width: 1024px) {
  .worker__social-item {
    width: 33px;
    height: 33px;
  }
}
@media only screen and (max-width: 767px) {
  .worker__social-item {
    width: 40px;
    height: 40px;
  }
}

.download {
  padding: 170px 0;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .download {
    padding: 127px 0;
  }
}
@media only screen and (max-width: 767px) {
  .download {
    padding: 53px 0;
  }
}
.download__title {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 22px;
}
@media only screen and (max-width: 1024px) {
  .download__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 21px;
  }
}
@media only screen and (max-width: 767px) {
  .download__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 12px;
  }
}
.download__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1024px) {
  .download__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 45px;
  }
}
@media only screen and (max-width: 767px) {
  .download__text {
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    margin-bottom: 12px;
  }
}

.footer-top {
  padding: 71px 0 67px;
  background-image: url(../media/footer/footer_bg_top.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
@media only screen and (max-width: 1024px) {
  .footer-top {
    padding: 46px 0 15px;
    background-image: url(../media/footer/footer_bg_top_tablet.jpg);
  }
}
@media only screen and (max-width: 767px) {
  .footer-top {
    padding: 34px 0 33px;
    background-image: url(../media/footer/footer_bg_top_mobile.jpg);
  }
}
.footer-top__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .footer-top__items {
    grid-column-gap: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-top__items {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
}
.footer-top__title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 29px;
}
@media only screen and (max-width: 1024px) {
  .footer-top__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-top__title {
    margin-bottom: 36px;
  }
}
.footer-top__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
@media only screen and (max-width: 1024px) {
  .footer-top__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
.footer-top__mixitem {
  padding: 0 5px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
  .footer-top__mixitem {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-top__mixitem {
    margin-bottom: 59px;
  }
}
.footer-bottom {
  padding: 24px 0;
  background-image: url(../media/footer/footer_bg_bottom.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
  .footer-bottom {
    padding: 30px 0 28px;
    background-image: url(../media/footer/footer_bg_bottom_mobile.jpg);
  }
}
.footer-bottom__text {
  max-width: 400px;
  text-align: center;
  text-transform: capitalize;
}
.footer-bottom__text_copyright {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #808080;
}
@media only screen and (max-width: 767px) {
  .footer-bottom__text_copyright {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
.footer-bottom__text_author {
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .footer-bottom__text_author {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}

.social {
  display: flex;
}
.social_worker {
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.social_footer {
  justify-content: center;
  -moz-column-gap: 26px;
       column-gap: 26px;
  margin-top: 59px;
}
@media only screen and (max-width: 1024px) {
  .social_footer {
    -moz-column-gap: 23px;
         column-gap: 23px;
    margin-top: 36px;
  }
}
@media only screen and (max-width: 767px) {
  .social_footer {
    -moz-column-gap: 16px;
         column-gap: 16px;
    margin-top: 0;
  }
}
.social__item {
  width: 39px;
  height: 39px;
  text-align: center;
  align-content: center;
  border: #C6CBCD solid 1px;
  transition: all 0.8s ease;
}
@media only screen and (max-width: 1024px) {
  .social__item {
    width: 33px;
    height: 33px;
  }
}
@media only screen and (max-width: 767px) {
  .social__item {
    width: 40px;
    height: 40px;
  }
}
.social__item_worker {
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.social__item_worker:hover {
  background: #fffb00;
  transform: scale(1.2) rotate(15deg);
  border-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px #613edf;
}
.social__item_worker:hover path {
  fill: #613edf;
}
.social__item_footer {
  -moz-column-gap: 26px;
       column-gap: 26px;
}
.social__item_footer:hover {
  background: #fffb00;
  transform: scale(1.2) rotate(15deg);
  border-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px #fffb00;
}
.social__item_footer:hover path {
  fill: #613edf;
}/*# sourceMappingURL=style.css.map */